<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>inicio</a>
        <a href={% url "crear_producto" %}>Crear producto</a>
        <a href={% url "lista_de_productos" %}>Lista de productos</a>
        
        <form action= "{% url "crear_producto" %}" method="POST">
        
            {% csrf_token %}
            
            {{formulario}}
            
            <input type="submit" value="crear">
        </form>
    </nav>
    <h1>Crear Producto</h1>
</body>
</html>
