{% extends "base.html" %}

{% block contenido %}
    <h1>Lista de productos</h1>

    <p>
        <a href={% url "crear_producto" %}>Crear de producto</a>
    </p>
    {% if productos %}
    <ul>
        {% for producto in productos %}
        
        <li>
            {{producto}} |
            <a href={% url "detalle_producto" producto.id %}>Ver mas</a> 
            <a href={% url "modificar_producto" producto.id %}>Modificar</a>
            <a href={% url "eliminar_producto" producto.id %}>Eliminar</a>  
        </li>
        {% endfor %}
    
    </ul>
    
    {% else %}
    <p>No hay productos cargados</p>
    {% endif %}
{% endblock contenido %}
